body{
    font-family: 'Raleway', sans-serif;
    width: 1000px;
    margin: 0 auto;
}

/*HEADER*/
header{
    background-color: #4b4b4d;
    height: 120px;
    margin: 20px 0;
}
#logo{
    padding: 30px 0 0 30px;
}
.columns{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.social-icons{
    font-size: 2.3em;
    padding:30px 30px 0 0;
}
i{
    color:rgb(238, 238, 238);
}


/*NAVIGATION*/
nav{
display: flex;
justify-content: space-between;/*usar todo el ancho disponible*/
}

nav a{
width: 198px;
height: 50px;
background-color:#97989a ;
color: rgb(24, 24, 24);
display: flex;
align-items: center; /*alinear verticalmente*/
justify-content: center;
}

nav a:link {
    text-decoration: none;
  }
  
nav a:hover{
    color:white;
}
/*CONTENIDO*/
main{
    margin: 25px 0;
}
/*DESTACADOS*/
.destacados{
    display: flex;
    justify-content: space-between;
}
.destacado{
    width: 330px;
    height: 190px;
    font-size: 0.85em;
    background-color:#858688;
}
.destacado img{ /*Ahora mismo no hace nada porque las imágenes ya están en el formato 330x120*/
    width: 330px;
    height: 120px;
}
.destacado p{
    padding: 0 10px;
    color: rgb(241, 241, 241);
}
.destacado button{
    position: relative;
    left:242px;
    bottom: 24px;
    background-color: none;
}
/*ARTÍCULO PRINCIPAL*/
article{
    background-color: #858688;
    margin-top: -10px;
}
.container{
    display:block;
    margin:auto;
    width: 600px;
    background-color: #4b4b4d;
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.8em;
    
    padding-top:20px;
}
article img{
    width: 500px;
    display: block;
    margin: auto;
}
figcaption{
    text-align: center;
    color: rgb(224, 223, 223);
    font-size: 0.9em;
}
.text-area{
    padding: 0 30px 30px 30px;
}
q{
    font-style: italic;
    font-size: 1.5em;
}
/*FOOTER*/
footer{
    height: 70px;
    background-color: #4b4b4d;
    margin-bottom: 20px;
    padding: 0 20px;
    color:rgb(241, 241, 241) ;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
}
.contacto{
    text-align: center;
}
.datos-contacto{
    text-align: left;
    font-size: 0.8em;
    line-height: 0.5em;
}
.copyright{
    grid-column: 4/4; 
}
